
/* Вспомогательные классы для управления 
 * выравниванием текста внурти элементов */
.text-center
{
    /* Текст будет выравниваться по центру */
    text-align: center;
}

.text-left
{
    /* Текст будет выравниваться по левому краю */
    text-align: left;
}

.text-right
{
    /* Текст будет выравниваться по правому краю */
    text-align: right;
}

/* Вспомогательные классы для настройки 
 * размера шрифта внутри элементов страницы */
.text-header
{
    /* Самый крупный вариант шрифта, использующийся для заголовков */
    font-size: 28pt;
}

.text-subheader
{
    /* Второй по величине, использующийся для 
     * текста в элементах управления и подзаголовков */
    font-size: 24pt;
}

.text-default
{
    /* Третий класс, использующийся для основного текста */
    font-size: 18pt;
}

.text-comment
{
    /* Четвертый класс шрифта, использующийся для комментариев и вставок кода */
    font-size: 14pt;
}