:root
{
    --primary-color: #3434a8;
    --secondary-color: #4444db;

    --primary-text: #fdfdff;
    --secondary-text: #f8f8f8;

    --background-color: #fefefd;
    
    --background-text: #111111;
}

body
{    
    /* Setting background color for main body */
    background-color: var(--background-color);
    /* Also setting foreground color for text on main body */
    color: var(--background-text);
}