
/* В этом файле описывается цветовая схема сайта
 * для упрощенного доступа к цветам элементов */

 /* Описание основного и дополнительного цветов используемых
  * для основных элементов управления на странице */
.primary
{
    /* Набор стилей для основного цвета*/
    background-color: #3434a8;

    color: #fdfdff;
}

.secondary
{
    /* Набор стилей для второстепенного цвета */
    background-color: #3c3ce8;

    color: #e6e6e8;
}

/* Описание альтернативных оттенков
 * для основного и дополнительного цветов */
.primary-variant
{
    /* Набор стилей для оттенка основного цвета*/
    background-color: #4444dB;

    color: #fdfdff;
}

.secondary-variant
{
    /* Набор стилей для оттенка вотростепенного цвета*/
    background-color: #2c2ca8;

    color: #e6e6e8;
}

/* Описание цветов элементов
 * являющихся основным содержимым страницы */
.background
{
    /* Набор стилей для основного содержимого страницы */
    background-color: #fefefd;

    color: #131313;
}